# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# --- Jupyter Notebooks ---
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# --- MLOps & Data  ---
data/
data/raw/
data/processed/

models/
*.onnx
*.pkl
*.joblib

# --- IDE & Configs ---
.vscode/
.idea/
*.swp
.DS_Store

# --- Logs ---
*.log
logs/